<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blurp</title>
    <link rel="icon" href="/static/favicon.ico" nonce="{{ csp_nonce }}"/>
    <link href="/static/main.css" rel="stylesheet" nonce="{{ csp_nonce }}">
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>