{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
        <b>Type:</b> {{ request_made.type }}<br>
        <b>URL:</b> {{ request_made.url }}{% if request_made.query_params %}?{{ request_made.query_params }}{% endif %}<br>
        <b>Request made at:</b><br>
        <ul>
            <li>{{ made_at_time }}</li>
            <li>{{ request_made.made_at.strftime("%-I:%M:%S %p, %d-%m-%Y %Z") }}</li>
        </ul>
        <b>Headers:</b>
        <ul>
            {% for k, v in headers.items() %}
            	<li><b>{{ k }}</b>: {{ v }}</li>
            {% endfor %}

        </ul><br>
        {% if request_made.body %}
        <b>Body:</b><br><pre class="code-block">{{ request_made.body }}</pre>
        {% else %}
        <b>No request body.</b>
        {% endif %}
        </section>
        <section>
            <a href="/">Go home</a>
        </section>
    </div>
{% endblock content %}
