{% extends 'base.jinja' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="page page-center">
      <div class="container container-tight py-4">
          {% include 'alerts.jinja' %}
        <div class="text-center mb-4">
        </div>
        <form class="card card-md" method="POST" autocomplete="off" novalidate>
            {{ csrf_input | safe }}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Change your password</h2>
            <div class="mb-3">
              <label class="form-label" for="current_password">Current password</label>
              <input id="current_password" name="current_password" type="password" class="form-control" placeholder="Current password">
            </div>
              <div class="mb-3">
              <label class="form-label" for="new_password">New password</label>
              <input id="new_password" name="new_password" type="password" class="form-control" placeholder="New password">
            </div>
              <div class="mb-3">
              <label class="form-label" for="new_password_again">New password again</label>
              <input id="new_password_again" name="new_password_again" type="password" class="form-control" placeholder="New password again">
            </div>

            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}