{% extends 'base.jinja' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="page page-center">
      <div class="container container-tight py-4">
          {% include 'alerts.jinja' %}
        <div class="text-center mb-4">
        </div>
        <form class="card card-md" method="POST" autocomplete="off" novalidate>
            {{ csrf_input | safe }}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgotten password request</h2>
            <div class="mb-3">
              <label class="form-label" for="username">Username or email</label>
              <input id="username" name="username" type="text" class="form-control" placeholder="Enter username or email here">
            </div>

            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Already have account? <a href="{{url_for('login')}}" tabindex="-1">Sign in</a>
        </div>
      </div>
    </div>
{% endblock %}